// cssnano produces improper output in postcss-normalize-positions
// clean-css
// this is a temp fix to avoid the issue where
// input:
// background-position: center right $input-height-inner-quarter;
// produces output:
// background-position: 100% $input-height-inner-quarter;

.was-validated .form-control:valid, .form-control.is-valid {
  background-position: right $input-height-inner-quarter center;
 }

.was-validated .form-control:invalid, .form-control.is-invalid {
  background-position: right $input-height-inner-quarter center;
 }

 button:focus {
   outline: 0px !important;
  // outline: 1px dotted;
  // outline: 5px auto -webkit-focus-ring-color !important;
}

.MuiCardMedia-root {
  display: inline-block !important;
}

.wizard-container .card-wizard .card-footer .btn-success {
  background-color: #2eb85c !important;
  border-color: #2eb85c !important;
  color: #FFFFFF !important;
}

.modal {
  z-index: 9999 !important;
}

a:link, a:visited, a:active {
  text-decoration:none !important;
}