// Variable overrides
// $primary-base:  #20a8d8 !default;
// $primary-100:   #eae9fb !default;
// $primary-200:   #d6d2fb !default;
// $primary-300:   #c1bcf4 !default;
// $primary-400:   #ada5f1 !default;
// $primary-500:   #988fed !default;
// $primary-600:   #8478ea !default;
// $primary-700:   #6f62e6 !default;
// $primary-800:   #5b4ce2 !default;
// $primary-900:   #4635df !default;

// $primary-dark:  #1f1498 !default;
// $primary:       #20a8d8 !default;
// $primary-50:    #988fed !default;
// $primary-25:    #ccc7f6 !default;

$primary-base:  #805C65 !default;
$primary-100:   #eae9fb !default;
$primary-200:   #d6d2fb !default;
$primary-300:   #c1bcf4 !default;
$primary-400:   #ada5f1 !default;
$primary-500:   #988fed !default;
$primary-600:   #8478ea !default;
$primary-700:   #6f62e6 !default;
$primary-800:   #5b4ce2 !default;
$primary-900:   #4635df !default;

$primary-dark:  #143e98 !default;
$primary:       #143e98 !default;
$primary-50:    #2a57b8 !default;
$primary-25:    #5482e5 !default;


$secondary-base:  #3c4b64 !default;

$secondary-100:   #ebedef !default;
$secondary-200:   #d8dbe0 !default;
$secondary-300:   #c4c9d0 !default;
$secondary-400:   #b1b7c1 !default;
$secondary-500:   #9da5b1 !default;
$secondary-600:   #8a93a2 !default;
$secondary-700:   #768192 !default;
$secondary-800:   #636f83 !default;
$secondary-900:   #4f5d73 !default;

$secondary-dark:  #212233 !default;
$secondary:       #3c4b64 !default;
$secondary-50:    #9da5b1 !default;
$secondary-25:    #ced2d8 !default;



$gray-base:  #3c4b64 !default;
$gray-100:   #ebedef !default;
$gray-200:   #d8dbe0 !default;
$gray-300:   #c4c9d0 !default;
$gray-400:   #b1b7c1 !default;
$gray-500:   #9da5b1 !default;
$gray-600:   #8a93a2 !default;
$gray-700:   #768192 !default;
$gray-800:   #636f83 !default;
$gray-900:   #4f5d73 !default;

$grays: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$grays: map-merge(
  (
    "100":  $gray-100,
    "200":  $gray-200,
    "300":  $gray-300,
    "400":  $gray-400,
    "500":  $gray-500,
    "600":  $gray-600,
    "700":  $gray-700,
    "800":  $gray-800,
    "900":  $gray-900
  ),
  $grays
);

$danger-dark:  #d93737 !default;
$danger:       #e55353 !default;
$danger-50:    #f2a9a9 !default;
$danger-25:    #f9d4d4 !default;

// $info-dark:  #2982cc !default;
// $info:       #39f !default;
$info-dark:  #C0504D !default;
$info:       #C0504D !default;
$info-50:    #C0504D !default;
$info-25:    #c0e6ff !default;

$success-dark:  #254ea7 !default;
$success:       #254ea7 !default;
$success-50:    #3262c8 !default;
$success-25:    #4174e3 !default;

$warning-dark:  #fcf403a0 !default;
$warning:       #fcf403 !default;
$warning-50:    #f5f056 !default;
$warning-25:    #ece88a !default;

$light:  $gray-100 !default;
$dark:   $gray-800 !default;
$blue:   $primary-900 !default;

$theme-colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$theme-colors: map-merge(
  (
    "primary":    $primary,
    "secondary":  $secondary-25,
    "success":    $success,
    "info":       $info,
    "warning":    $warning,
    "warning-dark": $warning-dark,
    "danger":     $danger,
    "light":      $light,
    "dark":       $dark,
    "blue":       $blue
  ),
  $theme-colors
);

// $link-color:                               #ffffff00 !default;
// $link-decoration:                          none !default;
// $link-hover-color:                         darken($link-color, 15%) !default;
// $link-hover-decoration:                    underline !default;
// // Darken percentage for links with `.text-*` class (e.g. `.text-success`)
// $emphasized-link-hover-darken-percentage:  15% !default;

// $link-theme-map: () !default;
// // stylelint-disable-next-line scss/dollar-variable-default
// $link-theme-map: map-merge(
//   (
//     default: (
//       "link-color":        $link-color,
//       "link-hover-color":  $link-hover-color
//     )
//   ),
//   $link-theme-map
// );
